@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}
.animate {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.spin{
    width: 4rem;
    height: 4rem;
    margin: 2rem;
    border-radius: 9999px;
    background-color: rgb(2 132 199)
}